.container{
    border: 2px solid black;
    border-radius: 20px;
    align-content: center;
    background-image: url("./images/claudio-luiz-castro-_R95VMWyn7A-unsplash.jpg");
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 3px rgba(255, 0, 0, 0.687);
    height: 110vh;
}

#clickBtn{
    width: 50vw;
    border-radius: 15px;
}
#inp{
    border-radius: 10px;
    width: 30vw;
    height: 10vh;
    font-size: 30px;
}
#monitor{
    min-width: none;
    color: rgb(25, 0, 255);
    text-shadow: none;
    font-size: 50px;
}